.footer{
  margin-top: 25px;
  width: 100%;
  height: 70px;
  background: rgb(81, 90, 83);
  background: linear-gradient(0deg, rgba(81, 90, 83, 1) 0%, rgb(136, 134, 134) 55%);
  display: flexbox;
  align-items: center;
}

.socials{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.social__icon{
  height: 40px;
  margin: 10px;
}

.social__icon:hover{
  height: 41px;
}
